@font-face {
  font-family: 'iconfont';
  src: url('https://o90cnn3g2.qnssl.com/iconfont.eot');
  src: url('https://o90cnn3g2.qnssl.com/iconfont.eot?#iefix') format('embedded-opentype'),
  url('https://o90cnn3g2.qnssl.com/iconfont.woff') format('woff'),
  url('https://o90cnn3g2.qnssl.com/iconfont.ttf') format('truetype'),
  url('https://o90cnn3g2.qnssl.com/iconfont.svg#iconfont') format('svg');
}